{% extends "domain_base.html" %}
{% block domain_content %}
<div class="section">
  <div class="section__header">
    <h1 class="section__title">{{ _('AI Coach Settings') }}</h1>
  </div>
  <div class="section__body">
    <form method="post">
      <!-- Basic settings -->
      <div class="row">
        <div class="medium-12 columns">
          <label class="checkbox">
            <input type="checkbox" name="useAI" {% if credentials.useAI %}checked{% endif %}>
            {{ _('ai.useAI') }}
          </label>
        </div>
      </div>
      
      <div class="row">
        <div class="medium-12 columns">
          <label>
            {{ _('ai.count') }}
            <input type="number" name="count" value="{{ credentials.count or '' }}">
          </label>
        </div>
      </div>

      <!-- System settings -->
      <div style="display: {{ 'block' if UiContext.domainId=='system' else 'none' }}">
        <div class="row">
          <div class="medium-12 columns">
            <label>
              {{ _('ai.apikey') }}
              <input type="text" name="key" value="{{ '*****************' if credentials.key and UiContext.domainId=='system' else ('' if UiContext.domainId==='system' else '-') }}">
            </label>
          </div>
        </div>

        <div class="row">
          <div class="medium-12 columns">
            <label>
              {{ _('ai.url') }}
              <input type="text" name="url" value="{{ credentials.url or '' if UiContext.domainId==='system' else '-' }}">
            </label>
          </div>
        </div>

        <div class="row">
          <div class="medium-12 columns">
            <label>
              {{ _('ai.model') }}
              <input type="text" name="model" value="{{ credentials.model or '' if UiContext.domainId==='system' else '-' }}">
            </label>
          </div>
        </div>
      </div>

      <!-- Submit button -->
      <div class="row">
        <div class="medium-12 columns">
          <input type="submit" class="rounded primary button" value="{{ _('Save') }}">
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}